include ../../includes/_cardOxford.pug

section.catalog
  .catalog__container.grid-container
    aside.catalog__sidebar
      .catalog__wrapper
        h5.sidebar__title Фильтровать по:
        form.sidebar__filters
          fieldset.sidebar__filter-group          
            legend.filter-group__title Цвет
            label.checkbox.filter-group__item
              input.checkbox-input(type="checkbox", value="Коричневый")
              span.checkbox-text.filter__chackbox-text.filter__chackbox-text Коричневый
            label.checkbox.filter-group__item
              input.checkbox-input(type="checkbox", value="Чёрный", checked)
              span.checkbox-text.filter__chackbox-text Чёрный
            label.checkbox.filter-group__item
              input.checkbox-input(type="checkbox", value="Синий")
              span.checkbox-text.filter__chackbox-text Синий
            label.checkbox.filter-group__item
              input.checkbox-input(type="checkbox", value="Белый")
              span.checkbox-text.filter__chackbox-text Белый
          fieldset.sidebar__filter-group
            legend.filter-group__title Категория
            label.checkbox.filter-group__item
              input.checkbox-input(type="checkbox", value="Диваны", checked)
              span.checkbox-text.filter__chackbox-text Диваны
            label.checkbox.filter-group__item
              input.checkbox-input(type="checkbox", value="Кресла")
              span.checkbox-text.filter__chackbox-text Кресла
          fieldset.sidebar__filter-group
            legend.filter-group__title Цена
            .filter-group__price
              span от
              input(type="number", placeholder="2000")
              span до
              input(type="number", placeholder="15000")
      +cardOxford("../../images/banner-bg-little.webp", "Оксфорд 1950", "Новая коллекция изысканных кресел", "#")
    main.catalog__content.grid-container      
      h3.catalog__title.column-12  Каталог
      .ratings__container.grid-container.column-12
        each catalog in _catalogs
          .card.column-4.catalog__card
            img.card--image(src=`${catalog.image}/${catalog.alt.toLowerCase().replace(/\s+/g, '-').replace(/["']/g, '')}.webp`, alt=catalog.alt)
            .card--star-wrapper
              svg(width="16" height="15")
                use(xlink:href="/images/sprite.svg#star")            
              span.card--star= `${catalog.star}`
            .card--content-wrapper
              h3.card--title !{catalog.name}
              p.card--price= `${catalog.price}`
              button.btn-reset.btn.btn-buy.card--btn(type="button") Купить 
    nav.pagination    
      a.pagination__item(href="#") 1
      a.pagination__item(href="#") 2                      